# offgroup1
EnableTMTools : 0

# offgroup2
LIC : 0
CIIPTM : 0
CIIPTIMD : 0
NumSignPred : 0
IBCLIC : 0
IBCFilter: 0
InterCcpMerge: 0

# offgroup3
EnableTMnoninterTools : 0

# offgroup4
DIMD : 0
CCCM : 0
EIP  : 0

# offgroup5
IntraMTSMaxSize: 32
MTSExt: 0
LFNSTExt: 0
NSPT: 0
AlfFixedFilter: 0
PDP: 0
IntraNN: 0

